# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments (if used)
venv/
.env/

# Ignore environment variables and secrets
.env

# Ignore Airflow logs
logs/

# Ignore Docker volumes/data
postgres_data/

# Ignore macOS system files
.DS_Store

# Ignore JetBrains/PyCharm settings (optional)
.idea/
